# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Other logs, reports and Output
prog
log

# Editor swap files
*.swo
*.swp
*.svo
*.svp
/.vscode/

# Graph/tree visualization files
*.dot

# Profile CSV datasets
*.csv

# Build Products
/build/

# Dump Datasets

# Graphviz visualizations
*.dot
*.pdf
*.svg
*.png
*.jpeg